In [1]:
import os
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data_file1 = "Resources/Table 43a Full-time Equivalent Students, 2006-2020 (5).csv"

In [3]:
x = pd.read_csv(data_file1, index_col=[0])
x

,State/Territory,Affiliation (Gov/Non-gov),Affiliation (Gov/Cath/Ind),FT/PT,Sex,School Level,National Report on Schooling (ANR) School Level,Year (Grade),FTE Aboriginal and Torres Strait Islander Students,FTE Non-Indigenous Students,FTE All Students
Year,,,,,,,,,,,
2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),3102.0,33669.0,36771.0
2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,b Year 1,3153.0,33636.0,36789.0
2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,c Year 2,3106.0,34483.0,37589.0
2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,d Year 3,2969.0,33682.0,36651.0
2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,e Year 4,2834.0,33465.0,36299.0
...,...,...,...,...,...,...,...,...,...,...,...
2006,h ACT,b Non-government,c Independent,a Full-time,b Female,b Secondary School,c Senior Secondary School,o Year 12,0.0,253.0,253.0
2006,h ACT,b Non-government,c Independent,b Part-time,a Male,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),0.0,30.5,30.5
2006,h ACT,b Non-government,c Independent,b Part-time,a Male,b Secondary School,b Junior Secondary School,p Ungraded secondary,0.0,3.2,3.2
2006,h ACT,b Non-government,c Independent,b Part-time,b Female,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),0.0,34.2,34.2
2006,h ACT,b Non-government,c Independent,b Part-time,b Female,b Secondary School,b Junior Secondary School,p Ungraded secondary,1.2,0.0,1.2

In [4]:
data_file1_df = pd.read_csv(data_file1)
data_file1_df.head(100)

,Year,State/Territory,Affiliation (Gov/Non-gov),Affiliation (Gov/Cath/Ind),FT/PT,Sex,School Level,National Report on Schooling (ANR) School Level,Year (Grade),FTE Aboriginal and Torres Strait Islander Students,FTE Non-Indigenous Students,FTE All Students
0,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),3102.0,33669.0,36771.0
1,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,b Year 1,3153.0,33636.0,36789.0
2,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,c Year 2,3106.0,34483.0,37589.0
3,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,d Year 3,2969.0,33682.0,36651.0
4,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,e Year 4,2834.0,33465.0,36299.0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,b Junior Secondary School,m Year 10,284.0,7728.0,8012.0
96,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,b Junior Secondary School,p Ungraded secondary,27.0,132.0,159.0
97,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,c Senior Secondary School,n Year 11,167.0,6788.0,6955.0
98,2020,a NSW,b Non-government,c Independent,a Full-time,b Female,b Secondary School,c Senior Secondary School,o Year 12,137.0,6340.0,6477.0
99,2020,a NSW,b Non-government,c Independent,b Part-time,a Male,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),0.0,16.3,16.3

In [5]:
data_file1_df.describe()

,Year,FTE Aboriginal and Torres Strait Islander Students,FTE Non-Indigenous Students,FTE All Students
count,14143.000000,14143.000000,14143.00000,14143.000000
mean,2012.959202,197.264852,3680.44878,3877.713632
std,4.296281,447.751865,6268.03617,6637.495635
min,2006.000000,0.000000,0.00000,0.100000
25%,2009.000000,1.400000,25.00000,28.800000
50%,2013.000000,28.000000,708.00000,955.000000
75%,2017.000000,148.000000,5000.00000,5140.500000
max,2020.000000,3153.000000,34490.00000,37589.000000

In [6]:
data_file1_df.columns

Index(['Year', 'State/Territory', 'Affiliation (Gov/Non-gov)',
       'Affiliation (Gov/Cath/Ind)', 'FT/PT', 'Sex', 'School Level',
       'National Report on Schooling (ANR) School Level', 'Year (Grade)',
       'FTE Aboriginal and Torres Strait Islander Students ',
       'FTE Non-Indigenous Students ', 'FTE All Students '],
      dtype='object')

In [7]:
data_file1_df["State/Territory"].head()

0    a NSW
1    a NSW
2    a NSW
3    a NSW
4    a NSW
Name: State/Territory, dtype: object

In [8]:
data_file1_df["State/Territory"].unique()

array(['a NSW', 'b Vic.', 'c Qld', 'd SA', 'e WA', 'f Tas.', 'g NT',
       'h ACT'], dtype=object)

In [9]:
data_file1_df["State/Territory"].value_counts()

b Vic.    2409
c Qld     2124
d SA      1870
a NSW     1716
f Tas.    1559
g NT      1544
e WA      1544
h ACT     1377
Name: State/Territory, dtype: int64

In [10]:
data_file1_df["FTE All Students "].head()

0    36771.0
1    36789.0
2    37589.0
3    36651.0
4    36299.0
Name: FTE All Students , dtype: float64

In [11]:
df1 = data_file1_df[["State/Territory", "FTE All Students "]].head()
df1

  State/Territory  FTE All Students
0           a NSW            36771.0
1           a NSW            36789.0
2           a NSW            37589.0
3           a NSW            36651.0
4           a NSW            36299.0

In [12]:
#Twentyfifteen_data_df = data_file1_df.loc[data_file1_df["Year"] == "2020", :]
Twentyfifteen_data_df = data_file1_df[data_file1_df["Year"] == 2020]
Twentyfifteen_data_df

,Year,State/Territory,Affiliation (Gov/Non-gov),Affiliation (Gov/Cath/Ind),FT/PT,Sex,School Level,National Report on Schooling (ANR) School Level,Year (Grade),FTE Aboriginal and Torres Strait Islander Students,FTE Non-Indigenous Students,FTE All Students
0,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,a Pre-Year 1 (Foundation Year),3102.0,33669.0,36771.0
1,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,b Year 1,3153.0,33636.0,36789.0
2,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,c Year 2,3106.0,34483.0,37589.0
3,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,d Year 3,2969.0,33682.0,36651.0
4,2020,a NSW,a Government,a Government,a Full-time,a Male,a Primary School,a Primary School,e Year 4,2834.0,33465.0,36299.0
...,...,...,...,...,...,...,...,...,...,...,...,...
922,2020,h ACT,b Non-government,c Independent,a Full-time,b Female,b Secondary School,b Junior Secondary School,l Year 9,13.0,516.0,529.0
923,2020,h ACT,b Non-government,c Independent,a Full-time,b Female,b Secondary School,b Junior Secondary School,m Year 10,6.0,478.0,484.0
924,2020,h ACT,b Non-government,c Independent,a Full-time,b Female,b Secondary School,c Senior Secondary School,n Year 11,4.0,413.0,417.0
925,2020,h ACT,b Non-government,c Independent,a Full-time,b Female,b Secondary School,c Senior Secondary School,o Year 12,7.0,377.0,384.0
926,2020,h ACT,b Non-government,c Independent,b Part-time,b Female,b Secondary School,c Senior Secondary School,o Year 12,0.0,3.2,3.2

In [20]:
type(data_file1_df["State/Territory"][0])

float

In [22]:
data_file1_df["State/Territory"].apply(lambda x: str(x).split(" "))

0                  [nan]
1        [['a',, 'NSW']]
2        [['a',, 'NSW']]
3        [['a',, 'NSW']]
4        [['a',, 'NSW']]
              ...
14138    [['h',, 'ACT']]
14139    [['h',, 'ACT']]
14140    [['h',, 'ACT']]
14141    [['h',, 'ACT']]
14142    [['h',, 'ACT']]
Name: State/Territory, Length: 14143, dtype: object

In [16]:
split_columns_data_file1_df = ["State/Territory","Affiliation (Gov/Non-gov)", "Affiliation (Gov/Cath/Ind)", "FT/PT", "Sex", "School Level"]
for column in split_columns_data_file1_df:
    data_file1_df[column] = data_file1_df[column].str.split(" ")[1:]
data_file1_df

,Year,State/Territory,Affiliation (Gov/Non-gov),Affiliation (Gov/Cath/Ind),FT/PT,Sex,School Level,National Report on Schooling (ANR) School Level,Year (Grade),FTE Aboriginal and Torres Strait Islander Students,FTE Non-Indigenous Students,FTE All Students
0,2020,NaN,NaN,NaN,NaN,NaN,NaN,a Primary School,a Pre-Year 1 (Foundation Year),3102.0,33669.0,36771.0
1,2020,"[a, NSW]","[a, Government]","[a, Government]","[a, Full-time]","[a, Male]","[a, Primary, School]",a Primary School,b Year 1,3153.0,33636.0,36789.0
2,2020,"[a, NSW]","[a, Government]","[a, Government]","[a, Full-time]","[a, Male]","[a, Primary, School]",a Primary School,c Year 2,3106.0,34483.0,37589.0
3,2020,"[a, NSW]","[a, Government]","[a, Government]","[a, Full-time]","[a, Male]","[a, Primary, School]",a Primary School,d Year 3,2969.0,33682.0,36651.0
4,2020,"[a, NSW]","[a, Government]","[a, Government]","[a, Full-time]","[a, Male]","[a, Primary, School]",a Primary School,e Year 4,2834.0,33465.0,36299.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14138,2006,"[h, ACT]","[b, Non-government]","[c, Independent]","[a, Full-time]","[b, Female]","[b, Secondary, School]",c Senior Secondary School,o Year 12,0.0,253.0,253.0
14139,2006,"[h, ACT]","[b, Non-government]","[c, Independent]","[b, Part-time]","[a, Male]","[a, Primary, School]",a Primary School,a Pre-Year 1 (Foundation Year),0.0,30.5,30.5
14140,2006,"[h, ACT]","[b, Non-government]","[c, Independent]","[b, Part-time]","[a, Male]","[b, Secondary, School]",b Junior Secondary School,p Ungraded secondary,0.0,3.2,3.2
14141,2006,"[h, ACT]","[b, Non-government]","[c, Independent]","[b, Part-time]","[b, Female]","[a, Primary, School]",a Primary School,a Pre-Year 1 (Foundation Year),0.0,34.2,34.2
14142,2006,"[h, ACT]","[b, Non-government]","[c, Independent]","[b, Part-time]","[b, Female]","[b, Secondary, School]",b Junior Secondary School,p Ungraded secondary,1.2,0.0,1.2

In [14]:
x = ["a" , "Primary" , "School"]
x[1:]

['Primary', 'School']

In [15]:
data_file1_df["State/Territory"].str.split(" ",expand=True)

       0    1
0      a  NSW
1      a  NSW
2      a  NSW
3      a  NSW
4      a  NSW
...   ..  ...
14138  h  ACT
14139  h  ACT
14140  h  ACT
14141  h  ACT
14142  h  ACT

[14143 rows x 2 columns]

In [14]:
Last_five_years_data_df = data_file1_df.loc[(data_file1_df["Year"] == 2015) |(data_file1_df["Year"] == 2016) |(data_file1_df["Year"] == 2017) | (data_file1_df["Year"] == "2018") | (data_file1_df["Year"] == "2019") | (data_file1_df["Year"] == "2020")]
Last_five_years_data_df

Empty DataFrame
Columns: [Year, State/Territory, Affiliation (Gov/Non-gov), Affiliation (Gov/Cath/Ind), FT/PT, Sex, School Level, National Report on Schooling (ANR) School Level, Year (Grade), FTE Aboriginal and Torres Strait Islander Students , FTE Non-Indigenous Students , FTE All Students ]
Index: []

In [14]:
Group_by_state_twenty_fifteen_data = Twentyfifteen_data_df.groupby(['State/Territory'])
Group_by_state_twenty_fifteen_data

In [15]:
Last_five_years_data_df = data_file1_df.loc[data_file1_df["Year"] == "2015" | (data_file1_df["Year"] == "2016" | (data_file1_df["Year"] == "2017") | (data_file1_df["Year"] == "2018") | (data_file1_df["Year"] == "2019") | (data_file1_df["Year"] == "2020"), :]

SyntaxError: invalid syntax (<ipython-input-15-8446c2570d8a>, line 1)

In [ ]:
def remove_prefix(str, prefix):
    if str.startswith(a):
        return str[len(prefix):]
    return str
for x in data_file1_df.columns:
    x.remove_prefix()