In [11]:
import os
import csv
import pandas as pd

In [12]:
data_file1 = "Resources/Table 43a Full-time Equivalent Students, 2006-2020 (5).xlsx"

In [15]:
data_file1_df = pd.read_excel(data_file1, sheet_name=[2])
data_file1_df

{2:                          Australian Bureau of Statistics       Unnamed: 1  \
 0                               Schools, Australia, 2020              NaN
 1      Released at 11.30am (Canberra time) Friday, 19...              NaN
 2      Table 43a Full-time Equivalent Students by Aff...              NaN
 3                                                   Year  State/Territory
 4                                                   2020            a NSW
 ...                                                  ...              ...
 14153  (e) In 2019, the structure of schooling for a ...              NaN
 14154  (f) In 2015, the structure of schooling in Que...              NaN
 14155  (g) See the Explanatory Notes for further deta...              NaN
 14156                                                NaN              NaN
 14157                   Â© Commonwealth of Australia 2021              NaN

                       Unnamed: 2                  Unnamed: 3   Unnamed: 4  \
 0                            NaN                         NaN          NaN
 1                            NaN                         NaN          NaN
 2                            NaN                         NaN          NaN
 3      Affiliation (Gov/Non-gov)  Affiliation (Gov/Cath/Ind)        FT/PT
 4                   a Government                a Government  a Full-time
 ...                          ...                         ...          ...
 14153                        NaN                         NaN          NaN
 14154                        NaN                         NaN          NaN
 14155                        NaN                         NaN          NaN
 14156                        NaN                         NaN          NaN
 14157                        NaN                         NaN          NaN

       Unnamed: 5        Unnamed: 6  \
 0            NaN               NaN
 1            NaN               NaN
 2            NaN               NaN
 3            Sex      School Level
 4         a Male  a Primary School
 ...          ...               ...
 14153        NaN               NaN
 14154        NaN               NaN
 14155        NaN               NaN
 14156        NaN               NaN
 14157        NaN               NaN

                                             Unnamed: 7  \
 0                                                  NaN
 1                                                  NaN
 2                                                  NaN
 3      National Report on Schooling (ANR) School Level
 4                                     a Primary School
 ...                                                ...
 14153                                              NaN
 14154                                              NaN
 14155                                              NaN
 14156                                              NaN
 14157                                              NaN

                            Unnamed: 8  \
 0                                 NaN
 1                                 NaN
 2                                 NaN
 3                        Year (Grade)
 4      a Pre-Year 1 (Foundation Year)
 ...                               ...
 14153                             NaN
 14154                             NaN
 14155                             NaN
 14156                             NaN
 14157                             NaN

                                               Unnamed: 9  ... Unnamed: 32  \
 0                                                    NaN  ...         NaN
 1                                                    NaN  ...         NaN
 2                                                    NaN  ...         NaN
 3      FTE Aboriginal and Torres Strait Islander Stud...  ...         NaN
 4                                                   3102  ...         NaN
 ...                                                  ...  ...         ...
 14153                                                NaN  ...         NaN
 14154                                                NaN  ...         NaN
 14155                                                NaN  ...         NaN
 14156                                                NaN  ...         NaN
 14157                                                NaN  ...         NaN

       Unnamed: 33  Unnamed: 34  Unnamed: 35  Unnamed: 36  Unnamed: 37  \
 0             NaN          NaN          NaN          NaN          NaN
 1             NaN          NaN          NaN          NaN          NaN
 2             NaN          NaN          NaN          NaN          NaN
 3             NaN          NaN          NaN          NaN          NaN
 4             NaN          NaN          NaN          NaN          NaN
 ...           ...          ...          ...          ...          ...
 14153         NaN          NaN          NaN          NaN          NaN
 14154         NaN          NaN          NaN          NaN          NaN
 14155         NaN          NaN          NaN          NaN          NaN
 14156         NaN          NaN          NaN          NaN          NaN
 14157         NaN          NaN          NaN          NaN          NaN

        Unnamed: 38  Unnamed: 39  Unnamed: 40  Unnamed: 41
 0              NaN          NaN          NaN          NaN
 1              NaN          NaN          NaN          NaN
 2              NaN          NaN          NaN          NaN
 3              NaN          NaN          NaN          NaN
 4              NaN          NaN          NaN          NaN
 ...            ...          ...          ...          ...
 14153          NaN          NaN          NaN          NaN
 14154          NaN          NaN          NaN          NaN
 14155          NaN          NaN          NaN          NaN
 14156          NaN          NaN          NaN          NaN
 14157          NaN          NaN          NaN          NaN

 [14158 rows x 42 columns]}

In [16]:
data_file1_df.head()

AttributeError: 'dict' object has no attribute 'head'